.mainheading{
    text-align: center;
    font-family:Montserrat;
}

body { 
    background:url("http://www.solidbackgrounds.com/images/1920x1080/1920x1080-vanilla-solid-color-background.jpg");
}

.container{
    position:absolute;
    margin:2%;
    left:34%;
    top:40%;
   
}

.dark{
    padding:2%;
    color:white;
    background:black;
    border-radius:50%;
    
}
.buttondesign{
    padding:2%;
    border-radius:5%;
    background:black;
    color:white;
    font-family:Montserrat;
}

marquee {
    font-family:fantasy;
}

.buttons{
    position:absolute;
    margin:2%;
    left:42%;
    top:40%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


    /*Naviaton bar*/
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
    color:white;

}

