.mainheading{
    text-align: center;
}

body { 
    background:url("http://www.solidbackgrounds.com/images/1680x1050/1680x1050-cream-solid-color-background.jpg");
}

.container{
    position:absolute;
    margin:2%;
    left:30%;
    top:30%;
   
}

.dark{
    padding:2%;
    color:white;
    background:red;
    border-radius:50%;
    
}
.red{
    padding:2%;
    border-radius: 5%;
    background:red;
    color:white;
    font-family:fantasy;
}

marquee {
    font-family:fantasy;
}