/*This stylesheet is strictly just for EBus*/
/*It contains text designs, button designs and some elements from "mystylesheet.css"*/

.headingpayment{
    text-align: center;
    font-family:sans-serif;
    color:white;
    font-size:60px;
}

.paymentbackground{
    background:url("http://t.motionelements.com/stock-video/nature/me2448083-stars-black-sky-hd-a0540-poster.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    left:0;
    top:0;
    color:white;
    font-family:sans-serif;
    font-size:28px;
    text-align: center;
}

/*hover button*/

.buttonhover {
  display: inline-block;
  border-radius: 12px;
  background-color: #101111;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonhover span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonhover span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonhover:hover span {
  padding-right: 25px;
}

.buttonhover:hover span:after {
  opacity: 1;
  right: 0;
}
/* positioning */
.shoppingcart{
    position:absolute;
    margin:2%;
    left:40.5%;
    top:80%;
}


.homebutton{
    position:absolute;
    margin:2%;
    left:1%;
    top:84%;
}

/* Button designs */

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:4px;
}

.button33 {
    background-color: black; 
    color: #00ff1d; 
}

.button33:hover {
    background-color: #00ff1d;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}

.button11 {
    background-color: black; 
    color: #d81e11; 
}

.button11:hover {
    background-color: #d81e11;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}

.button22 {
    background-color: black; 
    color: #213fed; 
}

.button22:hover {
    background-color:#213fed;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}

.validatebtn{
    position:absolute;
    margin:2%;
    left:44%;
    top:77%;
}

    /*Naviaton bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family:sans-serif;
}


li {
    float: left;
}

li a {
    display: block;
    color: #dce0e2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button1 {
    background-color: black; 
    color: #4592e0; 
}

.button1:hover {
    background-color: #4592e0;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2 {
    background-color: black; 
    color: #ce4e3a; 
}

.button2:hover {
    background-color: #ce4e3a;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}

.button3 {
    background-color: black; 
    color: #5e8e33; 
}

.button3:hover {
    background-color: #5e8e33;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}

.button4 {
    background-color: black;
    color:#d623e0;
}

.button4:hover {
    background-color: #d623e0;
    text-decoration: none;
    transition-duration: 0.4s;
    color: white;
}

.button5 {
    background-color: black;
    color: #ce9d3b;
}

.button5:hover {
    background-color: #ce9d3b;
    color: white;
    transition-duration: 0.4s;
    text-decoration: none;
}

.button6 {
    background-color: black; 
    color: white; 
}

.button6:hover {
    background-color: #d6dd02;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}


.button7 {
    background-color: black; 
    color: white; 
}

.button7:hover {
    background-color: #919696;
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
}


.button8 {
    background-color: black; 
    color: #9431d6; 
}

.button8:hover {
    background-color: #9431d6;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}


.button9 {
    background-color: black; 
    color: white; 
}

.button9:hover {
    background-color: #d6dd02;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}

.button44 {
    background-color: black;
    color:#fff723;
}

.button44:hover {
    background-color: #fff723;
    text-decoration: none;
    transition-duration: 0.4s;
    color: black;
}

.button10 {
    background-color: black; 
    color: #ea0202; 
}

.button10:hover {
    background-color: #ea0202;
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
}